;; $Id: load-lisp-example.lisp.dist,v 1.5 1999/08/03 01:52:10 janssen Exp $
;; BeginILUCopyright
;; Last edited by Mike Spreitzer October 9, 1998 11:29 am PDT

;; Copyright (c) 1991-1999 Xerox Corporation.  All Rights Reserved.

;; Unlimited use, reproduction, modification, and distribution of this
;; software and modified versions thereof is permitted.  Permission is
;; granted to make derivative works from this software or a modified
;; version thereof.  Any copy of this software, a modified version
;; thereof, or a derivative work must include both the above copyright
;; notice of Xerox Corporation and this paragraph.  Any distribution of
;; this software, a modified version thereof, or a derivative work must
;; comply with all applicable United States export control laws.  This
;; software is made available AS IS, and XEROX CORPORATION DISCLAIMS ALL
;; WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE
;; IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
;; PURPOSE, AND NOTWITHSTANDING ANY OTHER PROVISION CONTAINED HEREIN, ANY
;; LIABILITY FOR DAMAGES RESULTING FROM THE SOFTWARE OR ITS USE IS
;; EXPRESSLY DISCLAIMED, WHETHER ARISING IN CONTRACT, TORT (INCLUDING
;; NEGLIGENCE) OR STRICT LIABILITY, EVEN IF XEROX CORPORATION IS ADVISED
;; OF THE POSSIBILITY OF SUCH DAMAGES.

;; EndILUCopyright

(in-package :user)

; work-around for acl/win 3.0.1
#+aclpc
(progn
  (defvar *saved-default-pathname-defaults* nil)
  (setf *saved-default-pathname-defaults* *default-pathname-defaults*)
  (setf *default-pathname-defaults* *load-pathname*))

(if (not (find :pdefsys *features*))
    (load "ILUHOME/lisp/pdefsys"))

(defun cls (&rest syslist)
  (dolist (sys syslist)
    (pdefsys:compile-system sys)
    (pdefsys:load-system sys)))

(load "ILUHOME/lisp/ilu-sysdcl")

(load "test1-sysdcl")
(load "test2-sysdcl")
(load "test3-sysdcl")
(cls :test1 :test1-server :test2 :test2-server :test3 :test3-server)
(load (compile-file "server.lisp"))
(load (compile-file "client.lisp"))

#+aclpc
(setf *default-pathname-defaults* *saved-default-pathname-defaults*)

#+ilu-batch-compile
(exit)
